In [173]:
import pandas as pd
import numpy as np

In [174]:
df = pd.read_csv('movies.csv')

In [175]:
df

,movie_id,title,industry,release_date,release_year,release_weekday,genre,languages,num_languages,weekend1_collection_cr,worldwide_collection_cr,india_net_cr,india_gross_cr,overseas_cr
0,31,Tiger Zinda Hai,Hindi,22-12-17,2017,4,Action|Thriller,Hindi,1,114.93,558.00,339.16,433.77,124.23
1,1978,Monsoon Shootout,Hindi,15-12-17,2017,4,Crime|Thriller,Hindi,1,0.38,0.88,0.72,0.87,0.01
2,36,Fukrey Returns,Hindi,08-12-17,2017,4,Drama|Romantic,Hindi,1,32.20,112.30,80.16,108.21,4.09
3,62,Firangi,Hindi,01-12-17,2017,4,Comedy|Drama|Historical,Hindi,1,6.60,16.60,10.21,13.77,2.83
4,83,Tera Intezaar,Hindi,01-12-17,2017,4,Musical|Romantic,Hindi,1,1.55,2.75,2.01,2.71,0.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3796,11379,Nimma Vasthugalige Neeve Javaabdaararu,Kannada,10-01-25,2025,4,Crime|Drama|Thriller,Kannada,1,0.11,0.36,0.33,0.36,NaN
3797,6317,Game Changer,Telugu,10-01-25,2025,4,Action,Hindi|Kannada|Malayalam|Tamil|Telugu,5,88.50,186.28,131.20,156.03,30.25
3798,11357,Guns and Roses,Kannada,03-01-25,2025,4,Action|Drama,Kannada,1,0.14,0.29,0.26,0.29,NaN
3799,11359,After Breakup,Kannada,03-01-25,2025,4,Drama,Kannada,1,0.02,0.02,0.02,0.02,NaN
3800,11358,Swecha,Kannada,03-01-25,2025,4,Drama,Kannada,1,0.04,0.04,0.04,0.04,NaN

In [176]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3801 entries, 0 to 3800
Data columns (total 14 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   movie_id                 3801 non-null   int64
 1   title                    3801 non-null   object
 2   industry                 3801 non-null   object
 3   release_date             3801 non-null   object
 4   release_year             3801 non-null   int64
 5   release_weekday          3801 non-null   int64
 6   genre                    3801 non-null   object
 7   languages                3801 non-null   object
 8   num_languages            3801 non-null   int64
 9   weekend1_collection_cr   3391 non-null   float64
 10  worldwide_collection_cr  3537 non-null   float64
 11  india_net_cr             3537 non-null   float64
 12  india_gross_cr           3537 non-null   float64
 13  overseas_cr              1857 non-null   float64
dtypes: float64(5), int64(4), object(5)
memory usage: 415.9+ KB

In [177]:
df.shape

(3801, 14)

In [178]:
df.isnull().sum()

movie_id                      0
title                         0
industry                      0
release_date                  0
release_year                  0
release_weekday               0
genre                         0
languages                     0
num_languages                 0
weekend1_collection_cr      410
worldwide_collection_cr     264
india_net_cr                264
india_gross_cr              264
overseas_cr                1944
dtype: int64

In [179]:
# weekend1_collection_cr worldwide_collection_cr india_net_cr india_gross_cr overseas_cr all are missing for a row
df[df[['weekend1_collection_cr', 'worldwide_collection_cr', 'india_net_cr', 'india_gross_cr', 'overseas_cr']].isnull().all(axis=1)]

# drop the row with all collection values missing
df = df.dropna(subset=['weekend1_collection_cr', 'worldwide_collection_cr', 'india_net_cr', 'india_gross_cr', 'overseas_cr'], how='all')

In [180]:
df

,movie_id,title,industry,release_date,release_year,release_weekday,genre,languages,num_languages,weekend1_collection_cr,worldwide_collection_cr,india_net_cr,india_gross_cr,overseas_cr
0,31,Tiger Zinda Hai,Hindi,22-12-17,2017,4,Action|Thriller,Hindi,1,114.93,558.00,339.16,433.77,124.23
1,1978,Monsoon Shootout,Hindi,15-12-17,2017,4,Crime|Thriller,Hindi,1,0.38,0.88,0.72,0.87,0.01
2,36,Fukrey Returns,Hindi,08-12-17,2017,4,Drama|Romantic,Hindi,1,32.20,112.30,80.16,108.21,4.09
3,62,Firangi,Hindi,01-12-17,2017,4,Comedy|Drama|Historical,Hindi,1,6.60,16.60,10.21,13.77,2.83
4,83,Tera Intezaar,Hindi,01-12-17,2017,4,Musical|Romantic,Hindi,1,1.55,2.75,2.01,2.71,0.04
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3796,11379,Nimma Vasthugalige Neeve Javaabdaararu,Kannada,10-01-25,2025,4,Crime|Drama|Thriller,Kannada,1,0.11,0.36,0.33,0.36,NaN
3797,6317,Game Changer,Telugu,10-01-25,2025,4,Action,Hindi|Kannada|Malayalam|Tamil|Telugu,5,88.50,186.28,131.20,156.03,30.25
3798,11357,Guns and Roses,Kannada,03-01-25,2025,4,Action|Drama,Kannada,1,0.14,0.29,0.26,0.29,NaN
3799,11359,After Breakup,Kannada,03-01-25,2025,4,Drama,Kannada,1,0.02,0.02,0.02,0.02,NaN
3800,11358,Swecha,Kannada,03-01-25,2025,4,Drama,Kannada,1,0.04,0.04,0.04,0.04,NaN

In [181]:
df.isnull().sum()

movie_id                      0
title                         0
industry                      0
release_date                  0
release_year                  0
release_weekday               0
genre                         0
languages                     0
num_languages                 0
weekend1_collection_cr      146
worldwide_collection_cr       0
india_net_cr                  0
india_gross_cr                0
overseas_cr                1680
dtype: int64

In [182]:
#overseas_cr missing values rows only
df[df['overseas_cr'].isnull()]

,movie_id,title,industry,release_date,release_year,release_weekday,genre,languages,num_languages,weekend1_collection_cr,worldwide_collection_cr,india_net_cr,india_gross_cr,overseas_cr
1299,11305,OutHouse,Hindi,20-12-24,2024,4,Drama|Family,Hindi,1,0.05,0.14,0.14,0.14,NaN
1304,11264,Zero Se Restart,Hindi,13-12-24,2024,4,Documentary|Drama,Hindi,1,0.41,0.63,0.56,0.63,NaN
1306,11252,Solo Leveling: ReAwakening,Japanese,04-12-24,2024,2,Action|Adventure|Fantasy,English|Hindi|Japanese,3,0.85,2.29,2.08,2.29,NaN
1307,11253,Khatarnaak Manzil,Hindi,29-11-24,2024,4,Horror|Thriller,Hindi,1,NaN,0.03,0.03,0.03,NaN
1308,11235,Delhi Bus,Hindi,29-11-24,2024,4,Crime|Drama,Hindi,1,0.06,0.10,0.09,0.10,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3795,11381,Sanju Weds Geetha 2,Kannada,10-01-25,2025,4,Drama|Romantic,Kannada,1,0.00,1.32,1.20,1.32,NaN
3796,11379,Nimma Vasthugalige Neeve Javaabdaararu,Kannada,10-01-25,2025,4,Crime|Drama|Thriller,Kannada,1,0.11,0.36,0.33,0.36,NaN
3798,11357,Guns and Roses,Kannada,03-01-25,2025,4,Action|Drama,Kannada,1,0.14,0.29,0.26,0.29,NaN
3799,11359,After Breakup,Kannada,03-01-25,2025,4,Drama,Kannada,1,0.02,0.02,0.02,0.02,NaN
3800,11358,Swecha,Kannada,03-01-25,2025,4,Drama,Kannada,1,0.04,0.04,0.04,0.04,NaN

In [183]:
df['overseas_cr'] = df['overseas_cr'].fillna(0)

C:\Users\bsais\AppData\Local\Temp\ipykernel_17524\3492265445.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['overseas_cr'] = df['overseas_cr'].fillna(0)

In [184]:
df.isnull().sum()

movie_id                     0
title                        0
industry                     0
release_date                 0
release_year                 0
release_weekday              0
genre                        0
languages                    0
num_languages                0
weekend1_collection_cr     146
worldwide_collection_cr      0
india_net_cr                 0
india_gross_cr               0
overseas_cr                  0
dtype: int64

In [185]:
df[df['weekend1_collection_cr'].isnull()]

,movie_id,title,industry,release_date,release_year,release_weekday,genre,languages,num_languages,weekend1_collection_cr,worldwide_collection_cr,india_net_cr,india_gross_cr,overseas_cr
28,5290,Partition: 1947,Hindi,18-08-17,2017,4,Drama,Hindi,0,NaN,1.08,0.73,0.98,0.10
34,5289,Lipstick Under My Burkha,Hindi,21-07-17,2017,4,Drama|Psychological,Hindi,0,NaN,26.68,19.16,25.95,0.73
43,3,Hindi Medium,Hindi,19-05-17,2017,4,Drama,Hindi,1,NaN,334.06,69.59,96.65,237.41
53,5284,Rangoon,Hindi,24-02-17,2017,4,Drama|War,Hindi,0,NaN,39.80,20.76,28.02,11.78
54,5283,The Ghazi Attack,Hindi,17-02-17,2017,4,War,Hindi,0,NaN,34.50,20.30,27.40,7.10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3757,11584,Eddelu Manjunatha 2,Kannada,21-02-25,2025,4,Comedy|Crime,Kannada,1,NaN,0.20,0.18,0.20,0.00
3761,11572,Nanagu Love Aagidhe,Kannada,21-02-25,2025,4,Drama|Family|Romantic,Kannada,1,NaN,0.02,0.02,0.02,0.00
3766,11562,Justice,Kannada,14-02-25,2025,4,Drama|Thriller,Kannada,1,NaN,0.02,0.02,0.02,0.00
3767,11552,Namma Preethiya Ramu,Kannada,14-02-25,2025,4,Family|Romantic,Kannada,1,NaN,0.02,0.02,0.02,0.00
3791,11432,Ravanapura,Kannada,17-01-25,2025,4,Action|Drama|Romantic,Kannada,1,NaN,0.01,0.01,0.01,0.00

In [186]:
df.shape

(3537, 14)

In [187]:
df.sample(10)

,movie_id,title,industry,release_date,release_year,release_weekday,genre,languages,num_languages,weekend1_collection_cr,worldwide_collection_cr,india_net_cr,india_gross_cr,overseas_cr
1506,9587,Voodoo is Back,Hindi,16-02-24,2024,4,Horror|Thriller,Hindi,1,0.03,0.07,0.07,0.0700,0.00
784,5920,Vikrant Rona,Kannada,28-07-22,2022,3,Action|Adventure|Fantasy|Thriller,Hindi|Kannada|Malayalam|Tamil|Telugu,5,53.51,100.35,80.14,94.7500,5.60
1767,9816,Aadujeevitham - The Goat Life,Malayalam,28-03-24,2024,3,Adventure|Drama,Hindi|Kannada|Malayalam|Tamil|Telugu,5,30.30,157.62,85.26,98.1200,59.50
2782,12892,Happy Journey,Telugu,21-11-25,2025,4,Drama|Romantic,Telugu,1,0.03,0.06,0.06,0.0600,0.00
1753,9903,Love Guru,Telugu,11-04-24,2024,3,Comedy|Romantic,Telugu,1,0.26,0.61,0.63,0.6884,0.00
1103,8347,Ramabanam,Telugu,05-05-23,2023,4,Action|Thriller,Hindi|Telugu,2,5.01,8.30,6.83,8.0000,0.30
1201,8241,Viduthalai Part - 1,Tamil,31-03-23,2023,4,Crime|Drama|Thriller,Tamil|Telugu,2,13.50,53.00,36.98,43.7500,9.25
3184,6074,Hari Hara Veera Mallu,Telugu,24-07-25,2025,3,Action|Drama|Period,Hindi|Kannada|Malayalam|Tamil|Telugu,5,62.50,116.88,87.25,102.3800,14.50
3301,11625,Kadaisi Thotta,Tamil,28-02-25,2025,4,Crime|Drama|Thriller,Tamil,1,0.03,0.04,0.04,0.0400,0.00
2347,10922,Hagga,Kannada,20-09-24,2024,4,Action|Fantasy|Suspense|Thriller,Kannada,1,0.05,0.09,0.09,0.0900,0.00

In [188]:
# 1. Convert to datetime
df['release_date'] = pd.to_datetime(df['release_date'], dayfirst=True)

# 2. Extract numeric features
df['rel_month'] = df['release_date'].dt.month
df['rel_day'] = df['release_date'].dt.day

# 3. Drop the original column (Models can't use it)
df.drop('release_date', axis=1, inplace=True)

C:\Users\bsais\AppData\Local\Temp\ipykernel_17524\1430341960.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df['release_date'] = pd.to_datetime(df['release_date'], dayfirst=True)
C:\Users\bsais\AppData\Local\Temp\ipykernel_17524\1430341960.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['release_date'] = pd.to_datetime(df['release_date'], dayfirst=True)
C:\Users\bsais\AppData\Local\Temp\ipykernel_17524\1430341960.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rel_month'] = df['release_date'].dt.month
C:\Users\bsais\AppData\Local\Temp\ipykernel_17524\1430341960.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rel_day'] = df['release_date'].dt.day
C:\Users\bsais\AppData\Local\Temp\ipykernel_17524\1430341960.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop('release_date', axis=1, inplace=True)

In [189]:
# 1. Split the strings by '|' and explode them into individual rows
genre_counts = df['genre'].str.split('|').explode().value_counts()

# 2. View the distribution
print(genre_counts)

# 3. See the percentage (to decide what to cut)
print(genre_counts / len(df) * 100)

genre
Drama            2028
Thriller         1185
Action           1090
Comedy            731
Romantic          619
Crime             338
Adventure         214
Horror            192
Family            182
Mystery           137
Fantasy           126
Sci-Fi            112
Suspense           96
Sports             60
Period             53
Historical         52
Animation          49
Superhero          43
Biography          35
Social             29
Psychological      29
Musical            27
Political          24
Devotional         16
War                15
Biopic             15
Screening          10
Mythology          10
Spy                 9
Reality             7
Monster             3
Documentary         3
Dance               2
Black Comedy        2
                    1
Erotic              1
Name: count, dtype: int64
genre
Drama            57.336726
Thriller         33.502969
Action           30.817077
Comedy           20.667232
Romantic         17.500707
Crime             9.556121
Adventure         6.050325
Horror            5.428329
Family            5.145604
Mystery           3.873339
Fantasy           3.562341
Sci-Fi            3.166525
Suspense          2.714165
Sports            1.696353
Period            1.498445
Historical        1.470172
Animation         1.385355
Superhero         1.215720
Biography         0.989539
Social            0.819904
Psychological     0.819904
Musical           0.763359
Political         0.678541
Devotional        0.452361
War               0.424088
Biopic            0.424088
Screening         0.282725
Mythology         0.282725
Spy               0.254453
Reality           0.197908
Monster           0.084818
Documentary       0.084818
Dance             0.056545
Black Comedy      0.056545
                  0.028273
Erotic            0.028273
Name: count, dtype: float64

In [190]:
# 1. Define your 'Major' genres based on your data (Top 10)
major_genres = ['Drama', 'Thriller', 'Action', 'Comedy', 'Romantic', 
                'Crime', 'Adventure', 'Horror', 'Family', 'Mystery']

# 2. Function to clean and group
def simplify_genres(genre_string):
    if pd.isna(genre_string):
        return ['Other_Genre']

    genres = genre_string.split('|')
    refined = [g if g in major_genres else 'Other_Genre' for g in genres]

    return list(set(refined))


# 3. Apply and Binarize
df['genre_list'] = df['genre'].apply(simplify_genres)

from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
genre_encoded = mlb.fit_transform(df['genre_list'])

# This creates only 11 columns (10 major + 1 'Other') instead of 35!
genre_df = pd.DataFrame(genre_encoded, columns=mlb.classes_, index=df.index)

C:\Users\bsais\AppData\Local\Temp\ipykernel_17524\576202002.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['genre_list'] = df['genre'].apply(simplify_genres)

In [191]:
df.sample(10)

,movie_id,title,industry,release_year,release_weekday,genre,languages,num_languages,weekend1_collection_cr,worldwide_collection_cr,india_net_cr,india_gross_cr,overseas_cr,rel_month,rel_day,genre_list
1611,10934,Gorre Puranam,Telugu,2024,4,Comedy|Drama,Telugu,1,0.15,0.49,0.43,0.49,0.00,9,20,"[Comedy, Drama]"
631,5999,Nimmuru,Kannada,2021,4,Action|Drama,Kannada,1,0.03,0.04,0.04,0.04,0.00,2,12,"[Action, Drama]"
37,50,Guest iin London,Hindi,2017,3,Family|Comedy,Hindi,1,8.60,11.90,10.64,11.04,0.86,7,6,"[Comedy, Family]"
908,5269,KGF Chapter 2,Kannada,2022,3,Drama|Thriller,Hindi|Kannada|Malayalam|Tamil|Telugu,5,380.15,1215.00,859.70,1000.85,214.15,4,14,"[Thriller, Drama]"
2768,12996,Missterious,Telugu,2025,4,Mystery|Romantic|Thriller,Telugu,1,0.00,0.03,0.03,0.03,0.00,12,12,"[Thriller, Romantic, Mystery]"
2012,9997,Aranmanai 4,Tamil,2024,4,Comedy|Horror,Hindi|Tamil|Telugu,3,20.16,98.75,67.99,78.75,20.00,5,3,"[Comedy, Horror]"
1541,11269,Fear,Telugu,2024,5,Psychological|Thriller,Telugu,1,0.12,0.28,0.25,0.28,0.00,12,14,"[Thriller, Other_Genre]"
2520,13032,Anaconda,English,2025,3,Action|Adventure|Comedy|Horror|Thriller,English|Hindi|Tamil|Telugu,4,4.50,500.00,6.37,7.65,225.00,12,25,"[Action, Comedy, Adventure, Horror, Thriller]"
1039,9232,Kotabommali PS,Telugu,2023,4,Crime|Political|Thriller,Telugu,1,3.40,8.00,5.90,7.00,1.00,11,24,"[Other_Genre, Thriller, Crime]"
2843,12294,Ghaati,Telugu,2025,4,Action|Thriller,Tamil|Telugu,2,0.00,9.00,7.06,8.30,0.70,9,5,"[Thriller, Action]"

In [192]:
from sklearn.preprocessing import MultiLabelBinarizer
import pandas as pd

# 1. Initialize and Fit the Binarizer on your existing 'genre_list'
mlb = MultiLabelBinarizer()
genre_encoded = mlb.fit_transform(df['genre_list'])

# 2. Create the binary DataFrame
genre_columns = pd.DataFrame(genre_encoded, columns=mlb.classes_, index=df.index)

# 3. Concatenate and Drop the text-heavy columns
# We drop 'genre' (the string) and 'genre_list' (the list object)
df = pd.concat([df, genre_columns], axis=1).drop(['genre', 'genre_list'], axis=1)

# View the result
df.head()

,movie_id,title,industry,release_year,release_weekday,languages,num_languages,weekend1_collection_cr,worldwide_collection_cr,india_net_cr,india_gross_cr,overseas_cr,rel_month,rel_day,Action,Adventure,Comedy,Crime,Drama,Family,Horror,Mystery,Other_Genre,Romantic,Thriller
0,31,Tiger Zinda Hai,Hindi,2017,4,Hindi,1,114.93,558.00,339.16,433.77,124.23,12,22,1,0,0,0,0,0,0,0,0,0,1
1,1978,Monsoon Shootout,Hindi,2017,4,Hindi,1,0.38,0.88,0.72,0.87,0.01,12,15,0,0,0,1,0,0,0,0,0,0,1
2,36,Fukrey Returns,Hindi,2017,4,Hindi,1,32.20,112.30,80.16,108.21,4.09,12,8,0,0,0,0,1,0,0,0,0,1,0
3,62,Firangi,Hindi,2017,4,Hindi,1,6.60,16.60,10.21,13.77,2.83,12,1,0,0,1,0,1,0,0,0,1,0,0
4,83,Tera Intezaar,Hindi,2017,4,Hindi,1,1.55,2.75,2.01,2.71,0.04,12,1,0,0,0,0,0,0,0,0,1,1,0

In [193]:
df.sample(10)

,movie_id,title,industry,release_year,release_weekday,languages,num_languages,weekend1_collection_cr,worldwide_collection_cr,india_net_cr,india_gross_cr,overseas_cr,rel_month,rel_day,Action,Adventure,Comedy,Crime,Drama,Family,Horror,Mystery,Other_Genre,Romantic,Thriller
218,5577,Saagutha Doora Doora,Kannada,2020,4,Kannada,1,0.04,0.10,0.08,0.1000,0.0,2,14,0,0,0,0,1,0,0,0,0,1,0
2578,12610,Nishaanchi,Hindi,2025,4,Hindi,1,0.93,1.55,1.31,1.5500,0.0,9,19,0,0,0,1,1,0,0,0,0,0,0
3400,12571,Dashavatar,Marathi,2025,4,Malayalam|Marathi,2,4.42,28.50,24.21,28.5000,0.0,9,12,0,1,0,0,1,0,0,0,0,0,1
1886,11171,Zebra,Telugu,2024,4,Kannada|Tamil|Telugu,3,0.00,0.65,4.78,5.4084,0.0,11,22,1,0,1,1,0,0,0,0,0,0,1
3045,13040,Retta Thala,Tamil,2025,3,Tamil,1,1.95,3.65,3.13,3.6500,0.0,12,25,1,0,0,0,0,0,0,0,0,0,1
3436,12222,Aadrika,Malayalam,2025,4,Malayalam,1,0.01,0.01,0.01,0.0100,0.0,6,20,0,0,0,0,0,0,0,0,1,0,1
3703,11994,Suthradaari,Kannada,2025,4,Kannada,1,0.20,0.40,0.36,0.4000,0.0,5,9,0,0,0,1,0,0,0,0,0,0,1
785,6236,Thank You,Telugu,2022,4,Telugu,1,2.30,3.50,9.43,11.1300,0.8,7,22,0,0,1,0,1,0,0,0,0,1,0
3711,11936,Gangster Alla Prankster,Kannada,2025,4,Kannada,1,0.03,0.06,0.05,0.0600,0.0,4,25,1,0,0,0,0,0,0,0,0,0,1
2262,9693,The Spoils,Malayalam,2024,4,Malayalam,1,0.03,0.04,0.04,0.0400,0.0,3,1,0,0,0,0,1,0,0,1,0,0,0

In [194]:
# 1. Split the strings by '|' and explode them into individual rows
languages_counts = df['languages'].str.split('|').explode().value_counts()

# 2. View the distribution
print(languages_counts)

# 3. See the percentage (to decide what to cut)
print(languages_counts / len(df) * 100)

languages
Telugu       1559
Tamil        1315
Hindi        1144
Kannada       870
Malayalam     774
English       220
Marathi        14
Japanese       12
Punjabi         5
Bengali         5
Gujarati        3
Hinglish        1
Anicka          1
Mandarin        1
Odia            1
Ram             1
Name: count, dtype: int64
languages
Telugu       44.076901
Tamil        37.178400
Hindi        32.343794
Kannada      24.597116
Malayalam    21.882952
English       6.219960
Marathi       0.395816
Japanese      0.339271
Punjabi       0.141363
Bengali       0.141363
Gujarati      0.084818
Hinglish      0.028273
Anicka        0.028273
Mandarin      0.028273
Odia          0.028273
Ram           0.028273
Name: count, dtype: float64

In [195]:
# 1. Define your 'Major' languages based on your data
major_languages = ['Telugu', 'Tamil', 'Hindi', 'Kannada', 'Malayalam','English']

# 2. Function to clean and group
def simplify_languages(language_string):
    if pd.isna(language_string):
        return ['Other_Language']

    languages = language_string.split('|')
    refined = [g if g in major_languages else 'Other_Language' for g in languages]

    return list(set(refined))


# 3. Apply and Binarize
df['language_list'] = df['languages'].apply(simplify_languages)

from sklearn.preprocessing import MultiLabelBinarizer
mlb = MultiLabelBinarizer()
language_encoded = mlb.fit_transform(df['language_list'])
# This creates only 11 columns (10 major + 1 'Other') instead of 35!
language_df = pd.DataFrame(language_encoded, columns=mlb.classes_, index=df.index)

In [196]:
df.sample(10)

,movie_id,title,industry,release_year,release_weekday,languages,num_languages,weekend1_collection_cr,worldwide_collection_cr,india_net_cr,india_gross_cr,overseas_cr,rel_month,rel_day,Action,Adventure,Comedy,Crime,Drama,Family,Horror,Mystery,Other_Genre,Romantic,Thriller,language_list
1002,7011,Kantara,Kannada,2022,4,Hindi|Kannada|Malayalam|Tamil|Telugu,5,30.27,407.82,309.64,363.82,44.00,9,30,1,0,0,0,0,0,0,0,0,0,1,"[Tamil, Malayalam, Kannada, Telugu, Hindi]"
3034,11443,Hongkong Warriors,Hindi,2025,4,Hindi|Tamil|Telugu,3,0.40,0.89,0.80,0.89,0.00,1,24,1,0,0,1,0,0,0,0,0,0,1,"[Telugu, Tamil, Hindi]"
3465,11999,Prince and Family,Malayalam,2025,4,Malayalam,1,3.35,26.32,17.15,19.70,6.62,5,9,0,0,1,0,1,1,0,0,0,0,0,[Malayalam]
2460,9738,Somu Sound Engineer,Kannada,2024,4,Kannada,1,0.00,0.12,0.11,0.12,0.00,3,15,0,0,0,0,1,0,0,0,0,0,0,[Kannada]
1109,8294,Rudhran,Tamil,2023,4,Tamil|Telugu,2,7.90,15.60,11.54,13.60,2.00,4,14,1,0,0,0,1,0,0,0,0,0,0,"[Telugu, Tamil]"
2092,9473,Singapore Saloon,Tamil,2024,3,Tamil,1,4.65,9.18,7.90,9.18,0.00,1,25,0,0,1,0,1,0,0,0,0,0,0,[Tamil]
477,6166,Engada Irundeenga Ivvalavu Naala,Tamil,2021,4,Tamil,1,0.10,0.14,0.12,0.14,0.00,3,26,0,0,1,0,0,0,0,0,0,0,0,[Tamil]
2918,12068,Oka Brundavanam,Telugu,2025,4,Telugu,1,0.09,0.14,0.13,0.14,0.00,5,23,1,1,0,0,0,0,0,0,1,0,0,[Telugu]
1531,11319,Drinker Sai,Telugu,2024,4,Telugu,1,0.53,0.64,0.58,0.64,0.00,12,27,0,0,0,0,1,0,0,0,0,0,0,[Telugu]
3579,12822,Jai,Kannada,2025,4,Kannada,1,0.06,0.11,0.10,0.11,0.00,11,14,1,0,1,0,1,0,0,0,0,0,1,[Kannada]

In [197]:
# 1. Initialize and Fit the Binarizer on your existing 'genre_list'
mlb = MultiLabelBinarizer()
language_encoded = mlb.fit_transform(df['language_list'])

# 2. Create the binary DataFrame
language_columns = pd.DataFrame(language_encoded, columns=mlb.classes_, index=df.index)

# 3. Concatenate and Drop the text-heavy columns
# We drop 'genre' (the string) and 'genre_list' (the list object)
df = pd.concat([df, language_columns], axis=1).drop(['languages', 'language_list'], axis=1)
# View the result
df.head()

,movie_id,title,industry,release_year,release_weekday,num_languages,weekend1_collection_cr,worldwide_collection_cr,india_net_cr,india_gross_cr,overseas_cr,rel_month,rel_day,Action,Adventure,Comedy,Crime,Drama,Family,Horror,Mystery,Other_Genre,Romantic,Thriller,English,Hindi,Kannada,Malayalam,Other_Language,Tamil,Telugu
0,31,Tiger Zinda Hai,Hindi,2017,4,1,114.93,558.00,339.16,433.77,124.23,12,22,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0
1,1978,Monsoon Shootout,Hindi,2017,4,1,0.38,0.88,0.72,0.87,0.01,12,15,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0
2,36,Fukrey Returns,Hindi,2017,4,1,32.20,112.30,80.16,108.21,4.09,12,8,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0
3,62,Firangi,Hindi,2017,4,1,6.60,16.60,10.21,13.77,2.83,12,1,0,0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0
4,83,Tera Intezaar,Hindi,2017,4,1,1.55,2.75,2.01,2.71,0.04,12,1,0,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0,0,0

In [198]:
df.shape

(3537, 31)

In [199]:
# Create the binary flag: True if 4+ languages, else False
df['is_pan_india'] = (df['num_languages'] >= 4).astype(int)

In [200]:
df

,movie_id,title,industry,release_year,release_weekday,num_languages,weekend1_collection_cr,worldwide_collection_cr,india_net_cr,india_gross_cr,overseas_cr,rel_month,rel_day,Action,Adventure,Comedy,Crime,Drama,Family,Horror,Mystery,Other_Genre,Romantic,Thriller,English,Hindi,Kannada,Malayalam,Other_Language,Tamil,Telugu,is_pan_india
0,31,Tiger Zinda Hai,Hindi,2017,4,1,114.93,558.00,339.16,433.77,124.23,12,22,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0
1,1978,Monsoon Shootout,Hindi,2017,4,1,0.38,0.88,0.72,0.87,0.01,12,15,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0
2,36,Fukrey Returns,Hindi,2017,4,1,32.20,112.30,80.16,108.21,4.09,12,8,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0
3,62,Firangi,Hindi,2017,4,1,6.60,16.60,10.21,13.77,2.83,12,1,0,0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0
4,83,Tera Intezaar,Hindi,2017,4,1,1.55,2.75,2.01,2.71,0.04,12,1,0,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3796,11379,Nimma Vasthugalige Neeve Javaabdaararu,Kannada,2025,4,1,0.11,0.36,0.33,0.36,0.00,1,10,0,0,0,1,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0
3797,6317,Game Changer,Telugu,2025,4,5,88.50,186.28,131.20,156.03,30.25,1,10,1,0,0,0,0,0,0,0,0,0,0,0,1,1,1,0,1,1,1
3798,11357,Guns and Roses,Kannada,2025,4,1,0.14,0.29,0.26,0.29,0.00,1,3,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3799,11359,After Breakup,Kannada,2025,4,1,0.02,0.02,0.02,0.02,0.00,1,3,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3800,11358,Swecha,Kannada,2025,4,1,0.04,0.04,0.04,0.04,0.00,1,3,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [201]:
df.drop(['movie_id', 'title'], axis=1, inplace=True)

In [202]:
df

,industry,release_year,release_weekday,num_languages,weekend1_collection_cr,worldwide_collection_cr,india_net_cr,india_gross_cr,overseas_cr,rel_month,rel_day,Action,Adventure,Comedy,Crime,Drama,Family,Horror,Mystery,Other_Genre,Romantic,Thriller,English,Hindi,Kannada,Malayalam,Other_Language,Tamil,Telugu,is_pan_india
0,Hindi,2017,4,1,114.93,558.00,339.16,433.77,124.23,12,22,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0
1,Hindi,2017,4,1,0.38,0.88,0.72,0.87,0.01,12,15,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0
2,Hindi,2017,4,1,32.20,112.30,80.16,108.21,4.09,12,8,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0
3,Hindi,2017,4,1,6.60,16.60,10.21,13.77,2.83,12,1,0,0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0
4,Hindi,2017,4,1,1.55,2.75,2.01,2.71,0.04,12,1,0,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3796,Kannada,2025,4,1,0.11,0.36,0.33,0.36,0.00,1,10,0,0,0,1,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0
3797,Telugu,2025,4,5,88.50,186.28,131.20,156.03,30.25,1,10,1,0,0,0,0,0,0,0,0,0,0,0,1,1,1,0,1,1,1
3798,Kannada,2025,4,1,0.14,0.29,0.26,0.29,0.00,1,3,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3799,Kannada,2025,4,1,0.02,0.02,0.02,0.02,0.00,1,3,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0
3800,Kannada,2025,4,1,0.04,0.04,0.04,0.04,0.00,1,3,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0

In [203]:
df['industry'].value_counts()

industry
Telugu       884
Tamil        739
Kannada      617
Hindi        563
Malayalam    516
English      196
Japanese       9
Marathi        7
Gujarati       3
Punjabi        2
Odia           1
Name: count, dtype: int64

In [204]:
#dropping japanese, marathi, gujarati, punjabi, odia
df = df[~df['industry'].isin(['Japanese', 'Marathi', 'Gujarati', 'Punjabi', 'Odia'])]
df['industry'].value_counts()

industry
Telugu       884
Tamil        739
Kannada      617
Hindi        563
Malayalam    516
English      196
Name: count, dtype: int64

In [205]:
df = pd.get_dummies(df, columns=['industry'], drop_first=True)

In [206]:
df

,release_year,release_weekday,num_languages,weekend1_collection_cr,worldwide_collection_cr,india_net_cr,india_gross_cr,overseas_cr,rel_month,rel_day,Action,Adventure,Comedy,Crime,Drama,Family,Horror,Mystery,Other_Genre,Romantic,Thriller,English,Hindi,Kannada,Malayalam,Other_Language,Tamil,Telugu,is_pan_india,industry_Hindi,industry_Kannada,industry_Malayalam,industry_Tamil,industry_Telugu
0,2017,4,1,114.93,558.00,339.16,433.77,124.23,12,22,1,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,True,False,False,False,False
1,2017,4,1,0.38,0.88,0.72,0.87,0.01,12,15,0,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,True,False,False,False,False
2,2017,4,1,32.20,112.30,80.16,108.21,4.09,12,8,0,0,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,True,False,False,False,False
3,2017,4,1,6.60,16.60,10.21,13.77,2.83,12,1,0,0,1,0,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,True,False,False,False,False
4,2017,4,1,1.55,2.75,2.01,2.71,0.04,12,1,0,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0,0,0,0,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3796,2025,4,1,0.11,0.36,0.33,0.36,0.00,1,10,0,0,0,1,1,0,0,0,0,0,1,0,0,1,0,0,0,0,0,False,True,False,False,False
3797,2025,4,5,88.50,186.28,131.20,156.03,30.25,1,10,1,0,0,0,0,0,0,0,0,0,0,0,1,1,1,0,1,1,1,False,False,False,False,True
3798,2025,4,1,0.14,0.29,0.26,0.29,0.00,1,3,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,False,True,False,False,False
3799,2025,4,1,0.02,0.02,0.02,0.02,0.00,1,3,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,False,True,False,False,False
3800,2025,4,1,0.04,0.04,0.04,0.04,0.00,1,3,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,False,True,False,False,False

In [207]:
new_order = [
    # Release metadata
    "release_year",
    "rel_month",
    "rel_day",
    "release_weekday",
    "industry_Hindi",
    "industry_Tamil",
    "industry_Telugu",
    "industry_Kannada",
    "industry_Malayalam",
    "is_pan_india",

    # Language info
    "num_languages",
    "English",
    "Hindi",
    "Tamil",
    "Telugu",
    "Kannada",
    "Malayalam",
    "Other_Language",

    # Genre
    "Action",
    "Adventure",
    "Comedy",
    "Crime",
    "Drama",
    "Family",
    "Horror",
    "Mystery",
    "Romantic",
    "Thriller",
    "Other_Genre",

    # Early performance
    "weekend1_collection_cr",

    # Final outcomes
    "india_net_cr",
    "india_gross_cr",
    "overseas_cr",
    "worldwide_collection_cr"
]

df = df[new_order]

In [208]:
df.sample(10)

,release_year,rel_month,rel_day,release_weekday,industry_Hindi,industry_Tamil,industry_Telugu,industry_Kannada,industry_Malayalam,is_pan_india,num_languages,English,Hindi,Tamil,Telugu,Kannada,Malayalam,Other_Language,Action,Adventure,Comedy,Crime,Drama,Family,Horror,Mystery,Romantic,Thriller,Other_Genre,weekend1_collection_cr,india_net_cr,india_gross_cr,overseas_cr,worldwide_collection_cr
2882,2025,7,11,4,False,False,True,False,False,0,2,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,1,0,0,0.00,1.72,2.00,0.00,2.00
2260,2024,3,8,4,False,False,False,False,True,0,1,0,0,0,0,0,1,0,0,0,1,0,1,0,0,0,0,0,0,0.08,0.13,0.13,0.00,0.13
2851,2025,8,27,2,False,False,True,False,False,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0.28,0.34,0.37,0.00,0.37
3310,2025,2,14,4,False,True,False,False,False,0,1,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0.03,0.04,0.04,0.00,0.04
400,2021,2,5,4,False,False,True,False,False,0,1,0,0,0,1,0,0,0,0,0,0,0,1,0,0,0,1,0,0,0.04,0.04,0.04,0.00,0.04
1409,2024,6,14,4,False,True,False,False,False,0,3,0,1,1,1,0,0,0,1,0,0,0,1,0,0,0,0,0,0,49.05,72.43,83.50,115.70,199.20
2637,2025,6,27,4,True,False,False,False,False,0,1,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,17.65,36.27,43.46,6.50,49.96
3265,2025,4,24,3,False,True,False,False,False,0,1,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0.00,0.55,0.60,0.00,0.60
882,2022,7,29,4,False,True,False,False,False,0,1,0,0,1,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1.60,7.61,8.98,0.20,2.10
1707,2024,6,7,4,False,False,True,False,False,0,1,0,0,0,1,0,0,0,0,0,1,0,1,0,0,0,1,0,0,8.15,16.57,19.08,2.35,21.43

In [209]:
#industry_Hindi/Telugu/Tamil/Kannada/Malayalam converting true/false to 1/0

df['industry_Hindi'] = df['industry_Hindi'].astype(int)
df['industry_Tamil'] = df['industry_Tamil'].astype(int)
df['industry_Telugu'] = df['industry_Telugu'].astype(int)
df['industry_Kannada'] = df['industry_Kannada'].astype(int)
df['industry_Malayalam'] = df['industry_Malayalam'].astype(int)

In [210]:
df.sample(10)

,release_year,rel_month,rel_day,release_weekday,industry_Hindi,industry_Tamil,industry_Telugu,industry_Kannada,industry_Malayalam,is_pan_india,num_languages,English,Hindi,Tamil,Telugu,Kannada,Malayalam,Other_Language,Action,Adventure,Comedy,Crime,Drama,Family,Horror,Mystery,Romantic,Thriller,Other_Genre,weekend1_collection_cr,india_net_cr,india_gross_cr,overseas_cr,worldwide_collection_cr
642,2021,1,22,4,0,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0.03,0.04,0.04,0.0,0.04
2219,2024,5,31,4,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,1,1,0,0,0,0,0,NaN,0.02,0.02,0.0,0.02
2581,2025,9,14,6,0,0,0,0,0,0,2,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0.01,0.12,0.13,0.0,0.13
2204,2024,6,21,4,0,0,0,0,1,0,1,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,0,0,0.08,0.11,0.12,0.0,0.12
2436,2024,4,19,4,0,0,0,1,0,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,1,0,0,NaN,0.02,0.02,0.0,0.02
3583,2025,11,7,4,0,0,0,1,0,0,1,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,1,0.01,0.01,0.01,0.0,0.01
522,2021,1,8,4,0,1,0,0,0,0,1,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0.03,0.03,0.04,0.0,0.04
1223,2023,12,22,4,0,0,1,0,0,1,5,0,1,1,1,1,1,0,1,0,0,0,0,0,0,0,0,1,0,209.10,406.45,487.75,130.0,617.75
1599,2024,10,11,4,1,0,0,0,0,0,2,0,1,0,1,0,0,0,1,0,0,0,0,0,0,0,0,1,0,16.60,31.98,38.43,18.5,56.93
1020,2022,3,17,3,0,0,0,1,0,1,4,0,0,1,1,1,1,0,1,0,0,0,0,0,0,0,0,1,0,50.70,76.25,89.20,5.0,94.20

In [213]:
df.shape

(3515, 34)

In [214]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3515 entries, 0 to 3800
Data columns (total 34 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   release_year             3515 non-null   int64
 1   rel_month                3515 non-null   int32
 2   rel_day                  3515 non-null   int32
 3   release_weekday          3515 non-null   int64
 4   industry_Hindi           3515 non-null   int32
 5   industry_Tamil           3515 non-null   int32
 6   industry_Telugu          3515 non-null   int32
 7   industry_Kannada         3515 non-null   int32
 8   industry_Malayalam       3515 non-null   int32
 9   is_pan_india             3515 non-null   int32
 10  num_languages            3515 non-null   int64
 11  English                  3515 non-null   int32
 12  Hindi                    3515 non-null   int32
 13  Tamil                    3515 non-null   int32
 14  Telugu                   3515 non-null   int32
 15  Kannada                  3515 non-null   int32
 16  Malayalam                3515 non-null   int32
 17  Other_Language           3515 non-null   int32
 18  Action                   3515 non-null   int32
 19  Adventure                3515 non-null   int32
 20  Comedy                   3515 non-null   int32
 21  Crime                    3515 non-null   int32
 22  Drama                    3515 non-null   int32
 23  Family                   3515 non-null   int32
 24  Horror                   3515 non-null   int32
 25  Mystery                  3515 non-null   int32
 26  Romantic                 3515 non-null   int32
 27  Thriller                 3515 non-null   int32
 28  Other_Genre              3515 non-null   int32
 29  weekend1_collection_cr   3369 non-null   float64
 30  india_net_cr             3515 non-null   float64
 31  india_gross_cr           3515 non-null   float64
 32  overseas_cr              3515 non-null   float64
 33  worldwide_collection_cr  3515 non-null   float64
dtypes: float64(5), int32(26), int64(3)
memory usage: 604.1 KB

In [215]:
df.isnull().sum()

release_year                 0
rel_month                    0
rel_day                      0
release_weekday              0
industry_Hindi               0
industry_Tamil               0
industry_Telugu              0
industry_Kannada             0
industry_Malayalam           0
is_pan_india                 0
num_languages                0
English                      0
Hindi                        0
Tamil                        0
Telugu                       0
Kannada                      0
Malayalam                    0
Other_Language               0
Action                       0
Adventure                    0
Comedy                       0
Crime                        0
Drama                        0
Family                       0
Horror                       0
Mystery                      0
Romantic                     0
Thriller                     0
Other_Genre                  0
weekend1_collection_cr     146
india_net_cr                 0
india_gross_cr               0
overseas_cr                  0
worldwide_collection_cr      0
dtype: int64